/*************** Home Page Style ***************/
.welcome-text {

    width: 600px;
    height: 300px;
    margin-left: 50%;
    transform: translateX(-50%);

    text-align: center;
}

.welcome-text h1 {
    text-align: center;
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 60px;

}

.welcome-text a {
    border: 1px solid #ffffff;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    color: #ffffff;

}

.welcome-text a:hover {
    transition: 0.4s;
    background: rgb(99, 158, 99);
    color: #333;
}

.home-pf {
    height: 250px;
}

.home-pf-img {

    width: 200px;
    height: 200px;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-top: 2%;
    /* margin-left: 50%; */
    transform: translateX(-50%);
}

/*************** About Me Styles ***************/

header {
    height: 55px;
    background: #333;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

header nav p {
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    height: 40px;
    float: left;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 200;
}

#logo {
    display: block;
    margin-top: 5px;
    margin-left: 35px;
    height: 40px;
    float: left;
}

header nav ul li a {
    float: right;
    line-height: 50px;
    padding: 0 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.8s;
}

header nav ul li a:hover {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Arial", sans-serif;

}



.home-bg body {
    margin: 0;
    padding: 0;
    background: url(home-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Arial", sans-serif;

}

.gallery-bg body {
    margin: 0;
    padding: 0;
    background: url(black-bg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: "Arial", sans-serif;

}

.box {
    width: 400px;
    background: rgba(0, 0, 0, 0.4);

    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;

}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #535151
}

/***************** Contact-form styles*****************/

.contact-form {
    width: 100%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;

}

.contact-form h1 {
    margin-top: 0;
    font-weight: 200;

}

.textbox {
    border: 1px solid gray;
    border-style: double;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.textbox label {
    display: block;
    text-align: left;
    border-color: #333;
    border-style: none;
    text-transform: uppercase;
    font-size: 14px;

}

.textbox input,
.textbox textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;

}

.button {
    display: inline-block;
    background: rgb(105, 158, 105);
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

/****************** Gallery Satyles ******************/

.gallery {
    margin: 10px 50px;
    display: flexbox;

}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 350px;
    box-shadow: #535151;

}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.desc {
    padding: 15px;
    text-align: center;

}

/****************** Videos Styles ****************/



.content {
    text-align: center;
}

.videos body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    overflow: hidden;

}

.mpf-hide {
    display: none !important;

}

.play-button {
    padding: 20px 40px;
    border-color: white;
    font-size: 17px;
    font-size: 1.7rem;
    font-family: tahoma;
    font-weight: bold;
    margin-top: 40px;
    display: inline-block;


}

.play-button {
    border: 2px solid white;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    background: white;
    font-weight: bold;

}

.play-button .fa {
    margin-left: 20px;

}

.play-button:hover,
.play-button:focus {
    background: transparent;
    text-decoration: none;
    color: white;
    font-weight: bold;
    outline: none;

}

.videos h1 {
    color: white;
    font-size: 50px;
    font-family: tahoma;
    font-weight: bold;
    text-decoration: none;
    line-height: 72px;
    letter-spacing: 2px;
    text-align: center;
    margin: 105px 0 0 0;

}