header {
    height: 50px;
    background: #333;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

#logo {
    display: block;
    /* background: url("logo.png"); */
    margin: 5px;
    height: 40px;
    float: left;
}

header nav ul li a {
    float: right;
    line-height: 50px;
    padding: 0 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.8s;
}

header nav ul li a:hover {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    font-family: "Arial", sans-serif;
}

.box {
    width: 400px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 30%;
    letter-spacing: 3px;
    font-weight: 100;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;

}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #535151
}